<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
!pip install bs4
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [29]:
from bs4 import BeautifulSoup
import requests as r
import pandas as pd
import json
from collections import defaultdict

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [38]:
html_data = r.get('https://en.wikipedia.org/wiki/List_of_largest_banks').text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [39]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [40]:
#Replace the dots below
soup = BeautifulSoup(html_data, 'html.parser')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [48]:
table = soup.find_all("table")[3]
table_data = [[cell.text for cell in row("td")]
                         for row in table("tr")]
table_data = table_data[1:]
table_list = []

for row in table_data:
    table_list.append({'rank': row[0].replace('\n', ''), 'bank': row[1].replace('\n', ''), 'market_cap': row[2].replace('\n', '')})

import pandas as pd

data = pd.DataFrame(table_list).set_index('rank')
print(data)

                                          bank market_cap
rank
1                               JPMorgan Chase    488.470
2                              Bank of America    379.250
3      Industrial and Commercial Bank of China    246.500
4                                  Wells Fargo    308.013
5                      China Construction Bank    257.399
...                                        ...        ...
66                                Ping An Bank     37.993
67                          Standard Chartered     37.319
68                        United Overseas Bank     35.128
69                                   QNB Group     33.560
70                       Bank Rakyat Indonesia     33.081

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [49]:
#Write your code here
data.head()

                                          bank market_cap
rank
1                               JPMorgan Chase    488.470
2                              Bank of America    379.250
3      Industrial and Commercial Bank of China    246.500
4                                  Wells Fargo    308.013
5                      China Construction Bank    257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [ ]:
#Write your code here

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation.